__pycache__/
*.pyc
.DS_Store
.env
.env.*

# archive and sheets
*.zip
*.xlsx
!experiments/**/evaluation_result_9cd.xlsx

# data and outputs
data/
data_old/
data_sp1/
data_result/
ddm_dataset/
src/step_segment/*/data
outputs/
output/
runs/
*.ckpt
*.pt
*.pth
/tmp


experiments/diffgebd_preds/
output_lightning/

# Datasets and heavy media
data_annotated/
dataset_new_cut/
dataset_tas_splitrepeated/
src/TAS-instance-style/dataset_tas_instance/
tmp_repos/
*.mp4
*.npy
